@media (max-width: 1500px) {
  .section {
    padding: 15px 40px;
  }

  .section2 {
    padding: 0px 80px;
  }
}

@media (max-width: 1400px) {
  .section {
    padding: 15px 20px;
  }

  .slide1 {
    padding: 38px;
  }
}

@media (max-width: 1360px) {
  .section {
    padding: 15px 10px;
  }
  .section2 {
    padding: 0px 10px;
  }
}

@media (max-width: 1250px) {
  .left-navbar {
    width: 80%;
  }

  .section {
    padding: 15px 40px;
  }

  .section2 {
    padding: 0px 75px;
  }
}

@media (max-width: 1200px) {
  .about-container2 h1 {
    font-size: 40px;
  }

  .forever-bike {
    height: 300px;
  }

  .section2 {
    padding: 0px 40px;
  }
}

@media (max-width: 1155px) {
  #carousel1 .splide__slide img {
    width: 210px;
    height: 310px;
  }

  .section2 {
    padding: 0px 50px;
  }
}

@media (max-width: 1100px) {
  .navbar {
    height: 50px;
  }

  .delour {
    height: 25px;
  }
  .right-navbar {
    display: none;
  }

  .left-navbar {
    display: none;
  }

  .burgerBar {
    display: block;
  }

  .thousand {
    display: block;
  }

  .about-container {
    padding: 80px 60px 40px 40px;
  }

  .forever-bike {
    height: 300px;
  }

  .section {
    padding: 15px 0px;
  }
  .section2 {
    padding: 0px 20px;
  }

  .info-container {
    height: 250px;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 450px;
    justify-items: center;
    padding: 30px;
    row-gap: 15px;
  }

  .one-container-contacts {
    grid-column: span 3;
    width: 100%;
  }

  .contact-ul {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .contact-ul i {
    font-size: 50px;
  }
}

@media (max-width: 1000px) {
  .about-container {
    padding: 80px 40px 40px 40px;
    gap: 20px;
  }
  .about-container2 {
    padding: 0px 20px 0px 0px;
    gap: 15px;
  }
  #carousel1 .splide__slide img {
    width: 195px;
    height: 290px;
  }

  .slide1 {
    padding: 32px 32px 38px 32px;
  }
  #carousel2 .splide__slide img {
    height: 60px;
  }

  #carousel3 .splide__slide img {
    height: 60px;
  }

  #carousel4 .splide__slide img {
    height: 350px;
  }

  .section2 {
    padding: 0px;
  }

  .img-info4 {
    width: 350px;
    height: 160px;
  }
}

@media (max-width: 920px) {
  .about-container2 h1 {
    font-size: 30px;
  }

  .title-container h3 {
    font-size: 25px;
  }

  .about-container2 p {
    font-size: 15px;
  }

  .about-container {
    padding: 70px 20px 30px 20px;
  }

  .about-container2 {
    padding: 0px;
    gap: 15px;
  }
  #carousel1 .splide__slide img {
    width: 185px;
    height: 250px;
  }

  .slide1 {
    padding: 32px 20px 38px 20px;
  }

  .img-info h2 {
    font-size: 14px;
  }

  #carousel1 .splide__slide:hover .img-info h2 {
    scale: 1.2;
  }

  .data {
    font-size: 13px;
    padding: 5px 10px;
  }

  .slide4 {
    padding: 48px 40px 48px 40px;
  }

  .inffo-container {
    height: 200px;
  }
}

@media (max-width: 850px) {
  #carousel2 .splide__slide img {
    height: 40px;
  }

  #carousel3 .splide__slide img {
    height: 40px;
  }
}

@media (max-width: 840px) {
  .forever-bike {
    height: 250px;
  }
  #carousel1 .splide__slide img {
    width: 170px;
  }

  .info-container1 img {
    width: 75px;
  }
  .footer-container {
    padding: 20px 0px;
  }
}

@media (max-width: 800px) {
  #carousel1 .splide__slide img {
    width: 170px;
    height: 200px;
  }

  .navbar {
    height: 35px;
  }
  .burgerBar {
    margin-top: 8px;
    height: 100%;
  }
  #carousel1 .splide__slide img {
    width: 165px;
  }

  .slide4 {
    padding: 48px 30px 48px 30px;
  }

  .title-container h4 {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 750px) {
  .one-container h4 {
    font-size: 19px;
  }

  .one-container a {
    font-size: 15px;
  }

  .one-container-contacts h4 {
    font-size: 19px;
  }
}

@media (max-width: 740px) {
  .about-container {
    flex-direction: column;
    padding: 90px 70px 30px 70px;
  }

  .about-container2 {
    width: 100%;
    gap: 20px;
  }

  .forever-bike {
    width: 100%;
    height: 200px;
  }

  #carousel1 .splide__slide img {
    width: 170px;
    height: 240px;
  }
  .slide1 {
    padding: 32px 60px 38px 60px;
  }

  .splide2 {
    padding: 15px;
  }

  .slide4 {
    padding: 48px 20px 48px 20px;
  }
  #carousel4 .splide__slide img {
    height: 270px;
  }

  .info-container {
    height: 160px;
  }

  .info-container1 img {
    width: 55px;
  }
}

@media (max-width: 690px) {
  #carousel1 .splide__slide img {
    width: 160px;
  }
}

@media (max-width: 630px) {
  .about-container {
    padding: 90px 30px 30px 30px;
  }
  #carousel1 .splide__slide img {
    width: 170px;
    height: 220px;
  }

  .slide1 {
    padding: 32px 18px 38px 18px;
  }

  #carousel4 .splide__slide img {
    height: 240px;
  }

  .info-container1 img {
    width: 40px;
  }

  .info-container h4 {
    font-size: 14px;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    padding: 20px 0px 40px 20px;
    row-gap: 30px;
    height: auto;
  }

  .one-container-contacts {
    grid-column: span 1;
    width: 100%;
  }

  .one-container-contacts i {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  #carousel1 .splide__slide img {
    width: 155px;
  }

  .data {
    font-size: 11px;
    padding: 10px 8px;
  }

  #carousel2 .splide__slide img {
    height: 40px;
  }

  #carousel4 .splide__slide img {
    object-fit: cover;
    object-position: center;
  }

  .title-container h4 {
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  .about-container {
    padding: 70px 40px 5px 40px;
  }

  .about-container2 p {
    font-size: 14px;
  }
  .navbar {
    padding: 0px 10px;
  }
  #carousel1 .splide__slide img {
    width: 125px;
  }

  .slide1 {
    padding: 28px 20px 38px 20px;
  }

  .splide2 {
    padding: 15px 8px;
  }

  .info-container1 img {
    width: 35px;
  }

  .info-container h4 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .about-container {
    padding: 90px 50px 20px 50px;
  }
  #carousel1 .splide__slide img {
    width: 180px;
  }
  .slide1 {
    padding: 15px 30px 38px 30px;
  }

  #carousel4 .splide__slide img {
    height: 200px;
  }
}

@media (max-width: 455px) {
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
    padding: 20px 0px 30px 0px;
  }
}

@media (max-width: 440px) {
  .splide2 {
    padding: 15px 5px;
  }
  .about-container {
    padding: 90px 30px 20px 30px;
  }
  #carousel1 .splide__slide img {
    width: 160px;
  }
  .slide1 {
    padding: 15px 16px 38px 16px;
  }

  .info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    padding: 25px 0px;
    row-gap: 25px;
    background-position: top;
  }
}

@media (max-width: 390px) {
  #carousel1 .splide__slide img {
    width: 135px;
  }

  #carousel4 .splide__slide img {
    height: 220px;
  }
}

@media (max-width: 350px) {
  .about-container {
    padding: 80px 15px 20px 15px;
  }

  .slide1 {
    padding: 15px 15px 38px 15px;
  }
  #carousel1 .splide__slide img {
    width: 130px;
  }

  #carousel2 .splide__slide img {
    height: 20px;
  }

  #carousel3 .splide__slide img {
    height: 20px;
  }
  #carousel4 .splide__slide img {
    height: 200px;
  }
}
