@media (max-width: 1250px) {
  .left-navbar {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .about-container2 h1 {
    font-size: 40px;
  }

  .forever-bike {
    height: 300px;
  }
}
@media (max-width: 1100px) {
  .navbar {
    height: 50px;
  }
  .right-navbar {
    display: none;
  }

  .left-navbar {
    display: none;
  }

  .burgerBar {
    display: block;
  }

  .thousand {
    display: block;
  }

  .about-container {
    padding: 80px 60px 40px 40px;
  }

  .forever-bike {
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .about-container {
    padding: 80px 40px 40px 40px;
    gap: 20px;
  }
  .about-container2 {
    padding: 0px 20px 0px 0px;
    gap: 15px;
  }
}

@media (max-width: 920px) {
  .about-container2 h1 {
    font-size: 30px;
  }

  .about-container2 p {
    font-size: 15px;
  }
  /* .forever-bike {
    height: 250px;
  } */

  .about-container {
    padding: 70px 20px 30px 20px;
  }

  .about-container2 {
    padding: 0px;
    gap: 15px;
  }
}

@media (max-width: 840px) {
  .forever-bike {
    height: 250px;
  }
}

@media (max-width: 740px) {
  .about-container {
    flex-direction: column;
    padding: 90px 70px 30px 70px;
  }

  .about-container2 {
    width: 100%;
    gap: 20px;
  }

  .forever-bike {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 630px) {
  .about-container {
    padding: 90px 30px 30px 30px;
  }
}

@media (max-width: 530px) {
  .about-container {
    padding: 70px 70px 20px 70px;
  }
}

@media (max-width: 480px) {
  .about-container {
    padding: 90px 50px 20px 50px;
  }
}

@media (max-width: 440px) {
  .about-container {
    padding: 90px 30px 20px 30px;
  }
}

@media (max-width: 350px) {
  .about-container {
    padding: 80px 15px 20px 15px;
  }
}
